html{
    color: white;
    font-family: sans-serif;
    /*background-color: #232323;*/
}

.title{
    text-align: center;
}

.pic{
    max-width: 1000px;
    max-height: auto;
}

.name{
    text-align: ;
    font-size: small;
}

.beiträge{
    margin-bottom: 50px;
    border: 2px solid black;
    background-color: #232323;
}
