.jeje{
    justify-content: center;
    text-align: center;
    border-bottom: 5px solid black;
    margin-bottom: 20px ;
}

.bild{

    align-content: center;
    max-width: 1000px;
	height: auto;


}


