.jeje{
    justify-content: center;
    text-align: center;
    border-bottom: 5px solid black;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 20px ;
}

.bild{

    align-content: center;
    max-width: 500px;
    height: auto;
    border-radius: 4%;

}


.body{
    background-color: gray;
}


.titel{
    border-bottom: 5px solid black;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 5px;
    
}

.name{
    font-style: italic;
}

.datum{
    font-style: italic;
}

.text{
    text-align: center,justify;
}
