.partners_title{
    text-align: center;
}

.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    max-height: auto;
}

.Links{
    display: flex;
    justify-content: center;
}

.container{
    background-color: gray;
}
 


footer{
    background-color:#696969;
}

.title_partners{
    color: white;
    text-align: center;
}

.names{
    display: flex;
    justify-content: center;
}